@import '../../index';

header {
  position: relative;
  z-index: 5;
  min-height: 20px;
  padding: 20px;
  color: white;
  background-image:
  linear-gradient(45deg, @gradient-color 25%, transparent 45%),
  linear-gradient(-45deg, @gradient-color 25%, transparent 45%),
  linear-gradient(135deg, @gradient-color 25%, transparent 45%),
  linear-gradient(-135deg, @gradient-color 25%, transparent 45%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  box-shadow: 0 0 5px 0 #333333;
}
